<!--Decidir si colocamos un tag nav -->
<header class="collapsible-header">
    <a href="/"><img class="logo" src="./images/image.svg" alt="logo" /></a>
    <div class="header-items">
        <div><a href="/about-us">About</a></div>
        <div><a href="/docs">Docs</a></div>
        <div><a href="/template-form">Kahoot!</a></div>
        <div class="daily-question"><a href="/random-question">Daily Question</a></div>
    </div>
</header>
<header class="hamburger-menu">
    <a href="/"><img class="logo" src="./images/image.svg" alt="logo" /></a>
    <div class="header-items">
        <button class="hamburger" id="hamburger">☰</button>
        <ul class="nav-menu" id="nav-menu">
            <li><a href="/about-us">About</a></li>
            <li><a href="/docs">Docs</a></li>
            <li><a href="/template-form"></a></li>
            <li><a href="/random-question">Daily Question</a></li>
        </ul>
    </div>
</header>