<!DOCTYPE html>
<html lang="en">

<head>
    <title>CodeQuestAPI</title>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <nav id="nav-bar">
        <%- include('./partials/nav.ejs') %>
    </nav>
    <div>
        <div>
            <div class="text-container">
                <p class="pixelated-header">ABOUT THE APP</p>
                <p class="body-text">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio
                    illum voluptatibus blanditiis hic accusantium at voluptatem velit
                    voluptatum cum cupiditate. Molestias recusandae optio, quis rem
                    cupiditate natus aspernatur commodi voluptatem suscipit libero
                    impedit adipisci, voluptatibus aperiam fugiat cumque temporibus
                    laudantium nobis labore? Sed aliquam reiciendis nostrum vitae
                    quidem, eum explicabo asperiores sequi reprehenderit eligendi
                    nesciunt perferendis. Illum aliquid neque ipsa exercitationem
                    dolorem minima rem eius quasi laudantium illo asperiores, pariatur
                    cum ab delectus in? Facilis, eos vero totam autem commodi error,
                    enim consequuntur maiores ratione voluptas doloribus, velit nemo.
                    Aliquam deleniti quidem commodi rem ratione minus quam animi
                    voluptatum earum!
                </p>
            </div>
            <div class="image-container">
                <p class="pixelated-header" style="padding-bottom: 24px">
                    THE CODERS
                </p>
                <div class="image-grid">
                    <div>
                        <div class="main-user-block">
                            <img class="headshot" src="./images/aaron.png" alt="team-member" />
                            <div class="name-container">
                                <p class="name-element">Aaron</p>
                                <div class="hidden-element">
                                    <a href="https://github.com/fullstackaaronsanchezbelber"><img
                                            src="./icons/mdi_github.svg" /></a>
                                    <a href="https://www.linkedin.com/in/aaron-sanchez-belber/"><img
                                            src="./icons/mdi_linkedin.svg" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="main-user-block">
                            <img class="headshot" src="./images/andrey.png" alt="team-member" />
                            <div class="name-container">
                                <p class="name-element">Andrey</p>
                                <div class="hidden-element">
                                    <a href="https://github.com/SharmarAndrey"><img src="./icons/mdi_github.svg" /></a>
                                    <a href="https://www.linkedin.com/in/andrii-sharmar/"><img
                                            src="./icons/mdi_linkedin.svg" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="main-user-block">
                            <img class="headshot" src="./images/headshot.png" alt="team-member" />
                            <div class="name-container">
                                <p class="name-element">Dani</p>
                                <div class="hidden-element">
                                    <a href=""><img src="./icons/mdi_github.svg" /></a>
                                    <a href=""><img src="./icons/mdi_linkedin.svg" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="main-user-block">
                            <img class="headshot" src="./images/daud.png" alt="team-member" />
                            <div class="name-container">
                                <p class="name-element">Daud</p>
                                <div class="hidden-element">
                                    <a href="https://github.com/Daud1979"><img src="./icons/mdi_github.svg" /></a>
                                    <a href="https://www.linkedin.com/in/daudperaltaadan/"><img
                                            src="./icons/mdi_linkedin.svg" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="main-user-block">
                            <div class="main-user-block">
                                <img class="headshot" src="./images/pili.png" alt="team-member" />
                                <div class="name-container">
                                    <p class="name-element">Esteban</p>
                                    <div class="hidden-element">
                                        <a href="https://github.com/epili50"><img src="./icons/mdi_github.svg" /></a>
                                        <a href="www.linkedin.com/in/esteban-piliponsky-kaen"><img
                                                src="./icons/mdi_linkedin.svg" /></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="main-user-block">
                            <img class="headshot" src="./images/eva.png" alt="team-member" />
                            <div class="name-container">
                                <p class="name-element">Eva</p>
                                <div class="hidden-element">
                                    <a href="https://github.com/evahuertas"><img src="./icons/mdi_github.svg" /></a>
                                    <a href="https://linkedin.com/in/evahuertas" target="_blank"><img
                                            src="./icons/mdi_linkedin.svg" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="main-user-block">
                            <img class="headshot" src="./images/kevin.png" alt="team-member" />
                            <div class="name-container">
                                <p class="name-element">Kevin</p>
                                <div class="hidden-element">
                                    <a href="https://github.com/kevmhughes"><img src="./icons/mdi_github.svg" /></a>
                                    <a href="https://www.linkedin.com/in/kevin-michael-hughes/"><img
                                            src="./icons/mdi_linkedin.svg" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="main-user-block">
                            <img class="headshot" src="./images/lorena.png" alt="team-member" />
                            <div class="name-container">
                                <p class="name-element">Lorena</p>
                                <div class="hidden-element">
                                    <a href="https://github.com/crimanlor"><img src="./icons/mdi_github.svg" /></a>
                                    <a href="https://www.linkedin.com/in/lorena-criado/"><img
                                            src="./icons/mdi_linkedin.svg" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="main-user-block">
                            <img class="headshot" src="./images/maria.png" alt="team-member" />
                            <div class="name-container">
                                <p class="name-element">Maria</p>
                                <div class="hidden-element">
                                    <a href="https://github.com/MariaChmielinska"><img
                                            src="./icons/mdi_github.svg" /></a>
                                    <a href="https://www.linkedin.com/in/maria-chmielinska-984423123"><img
                                            src="./icons/mdi_linkedin.svg" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="main-user-block">
                            <img class="headshot" src="./images/nidaa.png" alt="team-member" />
                            <div class="name-container">
                                <p class="name-element">Nidaa</p>
                                <div class="hidden-element">
                                    <a href="https://github.com/nidaakb"><img src="./icons/mdi_github.svg" /></a>
                                    <a href="https://www.linkedin.com/in/nidaa-kabbaj/"><img
                                            src="./icons/mdi_linkedin.svg" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="main-user-block">
                            <img class="headshot" src="./images/oscar.png" alt="team-member" />
                            <div class="name-container">
                                <p class="name-element">Oscar</p>
                                <div class="hidden-element">
                                    <a href="https://github.com/omiras"><img src="./icons/mdi_github.svg" /></a>
                                    <a href="https://www.linkedin.com/in/mirasortiz/"><img
                                            src="./icons/mdi_linkedin.svg" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="main-user-block">
                            <img class="headshot" src="./images/balam.png" alt="team-member" />
                            <div class="name-container">
                                <p class="name-element">Balam</p>
                                <div class="hidden-element">
                                    <a href="https://github.com/ekbalam11"><img src="./icons/mdi_github.svg" /></a>
                                    <a href="https://www.linkedin.com/in/balamcastro/"><img
                                            src="./icons/mdi_linkedin.svg" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="main-user-block">
                            <img class="headshot" src="./images/vanya.png" alt="team-member" />
                            <div class="name-container">
                                <p class="name-element">Vanya</p>
                                <div class="hidden-element">
                                    <a href=" https://github.com/VanyaMark"><img src="./icons/mdi_github.svg" /></a>
                                    <a href="https://www.linkedin.com/in/vanyamarkova/"><img
                                            src="./icons/mdi_linkedin.svg" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="main-user-block">
                            <img class="headshot" src="./images/zulema.png" alt="team-member" />
                            <div class="name-container">
                                <p class="name-element">Zulema</p>
                                <div class="hidden-element">
                                    <a href="https://github.com/zulcas"><img src="./icons/mdi_github.svg" /></a>
                                    <a href="https://www.linkedin.com/in/zulema-casado"><img
                                            src="./icons/mdi_linkedin.svg" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const hamburger = document.getElementById("hamburger");
        const navMenu = document.getElementById("nav-menu");

        hamburger.addEventListener("click", () => {
            navMenu.classList.toggle("show");
        });
    </script>
</body>

</html>