<!DOCTYPE html>
<html lang="en">

<head>
    <title>CodeQuestAPI</title>
    <%- include('./partials/head.ejs') %>
</head>

<body>

    <div id="nav-bar">
        <%- include('./partials/nav.ejs') %>
    </div>
    <div class="flex">
        <div id="swagger-ui"></div>
      </div>
    <script src="https://unpkg.com/swagger-ui-dist@5.11.0/swagger-ui-bundle.js" crossorigin></script>
    <script>
        const hamburger = document.getElementById("hamburger");
        const navMenu = document.getElementById("nav-menu");

        hamburger.addEventListener("click", () => {
            navMenu.classList.toggle("show");
        });
        
        window.onload = () => {
    window.ui = SwaggerUIBundle({
        // 'http://localhost:3000/api-docs/'
      url: 'http://https://codequestapi.onrender.com/api/v1/test-swagger',
      dom_id: '#swagger-ui',
    });
  };
    </script>
</body>

</html>