<!DOCTYPE html>
<html lang="en">

<head>
    <title>CodeQuestAPI</title>
    <%- include('./partials/head.ejs') %>

</head>

<body>
    <%- include('./partials/nav.ejs') %>
        <div>
            
            <div class="page-one">
                <canvas id="Matrix"></canvas>
            </div>

            <div class="typewriter-container">
                <div class="typewriter">
                    <h1>CODE QUEST API</h1>
                </div>
            </div>
            <div class="home-text">
                <h1>The ultimate API for programming questions. Access random and AI-generated questions to enhance your coding skills.</h1>
                <h1><a href="/daily-question">Challenge your knowledge here!</a></h1>
                <div class="flex-row">
                    <h1><a href="/about-us">Find out more about the team</a></h1>
                    <h1><a href="https://github.com/IronHack-2024/CodeQuestAPI"><img src="./icons/mdi_github.svg"/></a></h1>
                </div>
            </div>


        </div>
        <script src="/script.js"></script>
        <script src="/index.js"></script>
</body>

</html>