<!DOCTYPE html>
<html lang="en">

<head>
    <title>CodeQuestAPI</title>
    <%- include('./partials/head.ejs') %>

</head>

<body>
    <%- include('./partials/nav.ejs') %>
        <div>

            <div class="page-one">
                <canvas id="Matrix"></canvas>
            </div>

            <div class="typewriter-container">
                <div class="typewriter">
                    <h1>CODE QUEST</h1>
                </div>
            </div>
        </div>

        <script>
            const hamburger = document.getElementById("hamburger");
            const navMenu = document.getElementById("nav-menu");

            hamburger.addEventListener("click", () => {
                navMenu.classList.toggle("show");
            });
        </script>
</body>

</html>