<!DOCTYPE html>
<html lang="en">

<head>
    <title>CodeQuestAPI</title>
    <%- include('./partials/head.ejs') %>

</head>

<body>
    <%- include('./partials/nav.ejs') %>
        <div>

            <div class="page-one">
                <canvas id="Matrix"></canvas>
            </div>

            <div class="typewriter-container">
                <div class="typewriter">
                    <h1>CODE QUEST</h1>
                </div>
            </div>
        </div>
        <script src="/script.js"></script>
        <script src="/index.js"></script>
</body>

</html>