body {
  background-color: black;
  justify-content: center;
  font-family: "Press Start 2P", system-ui;
  margin: 0;
}

a {
  text-decoration: none;
  color: #41fd5b;
}

.hamburger-menu {
  display: none;
}

.hamburger {
  font-size: 1.5rem;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

/* Menu Styling */
.nav-menu {
  list-style: none;
  display: flex;
  gap: 1rem;
}

/* Hide menu by default on mobile */
.nav-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 57px;
  right: 0;
  width: 33%;
  background-color: #245f2c;
  font-size: 0.8rem;
  padding: 10px 20px;
}

.nav-menu li {
  padding: 0.5rem 0;
}

.nav-menu a {
  color: #fff;
  text-decoration: none;
}

/* Show menu when .show class is added */
.nav-menu.show {
  display: flex;
}


header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 36px;
  justify-content: space-between;
}

.header-items {
  color: #41fd5b;
  display: flex;
  gap: 20px;
  padding-right: 20px;
  z-index: 1000;
}

.daily-question {
  word-spacing: -6px
}

.logo {
  height: 70px;
  padding-left: 10px;
}

.headshot {
  height: 200px;
  width: 200px;
  background-color: white;
  border-radius: 50%;
  overflow: visible;
  position: relative;
  filter: grayscale(100%);
  /* make the image black and white */
}

.headshot:hover {
  background-color: #41fd5b;
  filter: none
}

.pixelated-header {
  color: white;
  font-size: 24px;
}

.body-text {
  color: white;
  width: 1000px;
  font-family: 'Oxanium';
  font-size: 1.3rem;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin: auto;
  margin-bottom: 48px;
}

.main-user-block:hover .hidden-element {
  display: block;
  position: absolute;
  top: 34px;
  opacity: 100%;
  transition: opacity 1s ease;
}

.main-user-block:hover .headshot {
  background-color: #41fd5b;
  filter: none;
  transition: background-color 1s ease;
}

.hidden-element {
  position: absolute;
  top: 34px;
}

.name-element {
  color: white;
  font-family: 'Oxanium';
}

.hidden-element {
  display: block;
  opacity: 0%;
}

.name-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  position: relative;
}

/* TERMINAL EFFECT CSS */
.typewriter h1 {
  font-size: 80px;
  color: #41fd5b;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid white;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em;
  /* Adjust as needed */
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

.typewriter-container {
  display: none;
  /* Hidden initially */
  width: fit-content;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: calc(100vh - 70px);
  position: relative;
}

.text-container {
  margin: 30px 100px 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 100px 0 100px;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: white;
  }
}

/* docs */

.examples-container {
  width: 1000px;
}

.docs-text {
  font-size: 1.3rem;
  color: white;
  font-family: oxanium;
  border: solid white 1px;
  padding: 20px;
  margin-bottom: 20px;
}

/* media queries */

@media (max-width: 1024px) {
  .examples-container {
    width: 700px;
  }

  .docs-text {
    font-size: 1.1rem;
  }

  .body-text {
    width: 700px;
  }

  .image-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .typewriter h1 {
    font-size: 60px;
  }
}

@media (max-width: 768px) {
  .examples-container {
    width: 500px;
  }

  .body-text {
    width: 500px;
  }

  .collapsible-header {
    display: none;
  }

  .hamburger-menu {
    display: flex;
  }

  .headshot {
    height: 250px;
    width: 250px;
  }

  .image-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 100%;
  }

  .typewriter h1 {
    font-size: 50px;
  }
}

@media (max-width: 767px) {
  .image-grid {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;

  }
}

@media (max-width: 576px) {
  .examples-container {
    width: 380px;
  }

  .pixelated-header {
    font-size: 14px;
  }

  .body-text {
    width: 380px;
  }

  .typewriter h1 {
    /* Styles for screens 576px or narrower */
    font-size: 30px;
  }
}

@media (max-width: 400px) {
  .examples-container {
    width: 320px;
  }

  .pixelated-header {
    font-size: 11px;
  }

  .body-text {
    width: 320px;
  }

  .typewriter h1 {
    /* Styles for screens 400px or narrower */
    font-size: 26px;
  }
}